<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianhaoz95.lifestyletrackervoice_first">

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifestyleTrackerVoicefirst">
        <activity
            android:name=".activities.report.ShowReportActivity"
            android:exported="true"
            android:label="@string/title_activity_show_report"
            android:theme="@style/Theme.LifestyleTrackerVoicefirst.NoActionBar" />
        <activity
            android:name=".activities.authentication.AuthenticationActivity"
            android:exported="true" />
        <activity
            android:name=".activities.record.AddActivity"
            android:exported="true"
            android:label="@string/title_activity_add"
            android:theme="@style/Theme.LifestyleTrackerVoicefirst.NoActionBar" />
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LifestyleTrackerVoicefirst.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>